[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
newsapi-python = "*"
nltk = "*"
wordcloud = "*"
textblob = "*"
speechrecognition = "*"
pika = "*"
opencv-python = "*"
mediapipe = "*"
deepface = "*"
deepl = "*"
pyinstaller = "*"
pyaudio = "*"
pyttsx3 = "*"
screeninfo = "*"
cvzone = "*"
ipykernel = "*"
jupyter = "*"
openai = "*"
motor = "*"
pymongo = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
