[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pep8 = "*"
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
newsapi-python = "*"
nltk = "*"
wordcloud = "*"
textblob = "*"
speechrecognition = "*"
pika = "*"
opencv-python = "*"
mediapipe = "*"
deepface = "*"
deepl = "*"
pyinstaller = "*"
screeninfo = "*"
cvzone = "*"
ipykernel = "*"
jupyter = "*"
openai = "*"
motor = "*"
pymongo = "*"
pymysql = "*"
replicate = "*"
requests = "*"
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
charset-normalizer = "*"
html5lib = "*"
idna = "*"
python-dateutil = "*"
pytz= "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
vaderSentiment = "*"
webencodings = "*"
torchaudio = "*"
pyaudio = "*"
pyttsx3 = "*"
gTTS = "*"
speechbrain = "*"
soundfile = "*"
transformers = "*"
langchain = "*"
torch = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
