pep8
autopep8
pylint
pycodestyle
pydocstyle
pytest
pytest-cov
pytest-html
pandas
numpy
matplotlib
seaborn
newsapi-python
nltk
wordcloud
textblob
speechrecognition
pika
opencv-python
mediapipe
deepface
deepl
pyinstaller
screeninfo
cvzone
ipykernel
jupyter
openai
motor
pymongo
pymysql
replicate
requests
bs4
certifi
charset-normalizer
html5lib
idna
python-dateutil
pytz
six
soupsieve
urllib3
vaderSentiment
webencodings
torchaudio
pyaudio
pyttsx3
gTTS
speechbrain
soundfile
transformers
langchain
torch
pygame
pytube
playsound
pydub
